//- Text
-var text1 = 'Slider 1 Lorem ipsum dolor sit amet consectetur adipisicing elit.'
-var text2 = 'Slider 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.'
//- Main Pages
-var mainTitles = ['No hagas esperar a tu coche', 'Encuentra tu solución', 'Mada un mensaje para agendar una cita']
-var mainButtonsText = ['Checa tu presupuesto', 'Ver todos los servicios', 'Contacto']
-var mainButtonsLinks = ['#', 'all_services.html', '#contact']
//- Sliders
-var indexSliderOne = [['img/jpg/auto1.jpg'], ['Slider 1', text1], ['img/jpg/auto2.jpg']]
-var indexSliderTwo = [['img/jpg/auto3.jpg'], ['Slider 2', text2], ['img/jpg/services.jpg'], ['img/jpg/s2.jpg'], ['img/jpg/s4.jpg']]
