footer.footer
    h3.color-mainWhite.font-size-4.text-center Redes Sociales
    .wheels-social
        a(href="#", data-aos="zoom-out")
            .wheel-container
                .wheel
                    .wheel__inner
                i.wheel-social.fa-brands.fa-tiktok
        a(href="#", data-aos="zoom-out")
            .wheel-container
                .wheel
                    .wheel__inner
                i.wheel-social.fa-brands.fa-facebook
        a(href="#", data-aos="zoom-out")
            .wheel-container
                .wheel
                    .wheel__inner
                i.wheel-social.fa-brands.fa-instagram
    h4.color-mainWhite.text-center Taller Mecánico - 2022